<!DOCTYPE html>
<div class= "page">
<div class="center jumbotron">
  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle drpdn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <h1 class= "stroke" >APPS</h1>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu drpdn" aria-labelledby="dropdownMenu1">
    <li><a href="https://finance-tracker-asatchwill.herokuapp.com">Finance Tracker Application</a></li>
    <li><a href="https://alpha-blog-asatchwill.herokuapp.com/">Alpha Blog Application</a></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Home Page", root_path %></li>
    <li><%= link_to "About Page", about_path %></li>
  </ul>
</div>
</div>


<html>
  
  
<head>
  <title>Asatchwill</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  
  
<body>

<%= yield %>

</body>
</html>
</div>